body{
    background-image:url("http://2.bp.blogspot.com/-wTMNdPM-ah4/UuYQ7r2p8YI/AAAAAAAAUl8/AyQn0txpr90/s1600/%D8%B5%D9%88%D8%B1-%D8%A7%D9%84%D9%82%D9%85%D8%B1+%282%29.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    color: #F7DBF0;
    text-align: center;
}